
  .header {
    position: absolute;
    top: 40px;
    left: 74px;
    width: 1376px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 0 100px;
    border-bottom: 1px solid rgba(251, 251, 251, 0.4);
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }