
  .header {
    position: absolute;
    top: 20px;
    width: 1440px;
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 0 128px;
    border-bottom: 1px solid rgba(251, 251, 251, 0.4);
    font-size: 24px;
    font-weight: bold;
  }

  .link-header {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: #FBFBFB;
  }
  
  .link-header:hover, .link-header:focus {
    color: rgba(251, 251, 251, 0.4);
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 92px;
  }