
  .header {
    position: absolute;
    top: 50px;
    left: 50px;
    max-width: 1376px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    border-bottom: 1px solid rgba(251, 251, 251, 0.4);
    border-bottom: 1px solid rgba(251, 251, 251, 0.4);

    font-size: 24px;
    font-weight: bold;
  }