.reviews {
  .review-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 16px;

    .reviewer-icon {
      width: 60px;
      height: 60px;
      background-color: #F2F4F7;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;

      .initial {
        color: #E44848;
        font-size: 22px;
        font-weight: bold;
      }
    }

    .reviewer-info {
      display: flex;
      flex-direction: column;

      .reviewer-name {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 4px;
      }

      .reviewer-rating {
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        svg {
          margin-right: 4px;
        }
      }
    }
    .reviewer-comment {
      font-size: 16px;
      margin-top: 16px;
    }
  }
}