.auth-navigation {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #FBFBFB;
    gap: 8px
  }
  .auth-btn {
    display: block;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 40px;
    color: #FBFBFB;
    background-color: transparent;
    border: solid 1px #FBFBFB;
    border-radius: 30px;
    transition: background-color 0.3s ease, border 0.3s ease;
  }
  .auth-btn:hover, .auth-btn:focus {
    background-color: rgba(251, 251, 251, 0.4); 
    border: solid 1px#0957C3; 
}