.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  max-height: 90vh; /* Максимальна висота модального вікна */
  border-radius: 20px;
  padding: 64px;
  background-color: white;
  outline: none;
  overflow: hidden; /* Забороняє прокручування модального вікна */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden; /* Забороняє прокручування */
}

.modal-content-inner {
  position: relative;
  width: 505px;
  max-height: 80vh; /* Забезпечити, що є місце для прокрутки */
  overflow-y: auto; 
  overflow-x: hidden;
}


.modal-window {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}


/* Стилізація полоски прокрутки */
.modal-content-inner::-webkit-scrollbar {
  max-width: 8px; /* Ширина полоски прокрутки */
  max-height: 100px;
  background: transparent; /* Фон для області прокрутки */
}

.modal-content-inner::-webkit-scrollbar-thumb {
  background-color: #D9D9D9; /* Колір полоски прокрутки */
  border-radius: 7px; /* Скруглення кути полоски прокрутки */
}

.modal-content-inner::-webkit-scrollbar-thumb:hover {
  background-color: #c0c0c0; /* Колір полоски прокрутки при наведенні */
}

.modal-content-inner::-webkit-scrollbar-button {
  display: none; /* Приховати кнопки прокрутки (верхню та нижню стрілки) */
}

.modal-content-inner::-webkit-scrollbar-track {
  margin-top: 100px; /* Відступи між треком і краями контейнера */
  margin-bottom: 100px;
}

.booking-form-container {
  position: relative;
  width: 516px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

  .booking-header {
    width: 472px;
    font-size: 40px;
    font-weight: 500;
    color: #101828;
  }

  .booking-text {
    width: 472px;
    font-size: 16px;
    color: #475467;
  }


.booking-form {
  width: 472px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

  .form-group-block-small {
    max-width: 472px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px 8px;
   }

  .form-group-small {
    width: 232px;
    height: 52px;
   }

   .form-group-block-big {
    display: flex;
    flex-direction: column;
    gap: 16px;
   }

  .form-group-big {
    width: 472px;
    height: 52px;
  }

    input,
    textarea {
      border: 1px solid rgba(19, 18, 31, 0.1);
      border-radius: 12px;
      padding: 16px 18px;
      box-sizing: border-box; /* Враховувати padding у width */
    }
      
    placeholder {
        font-size: 16px;
        font-weight: 400;
      }

    textarea {
      width: 472px;
      height: 116px;
      resize: none;
    }

    input:focus,
    textarea:focus {
      outline: none;
      border: none;
      resize: none;
    }

    .error {
      display: flex;
      align-items: center;
      color: #ff0000;
      font-size: 12px;
      margin-top: 5px;
      margin-left: 5px;
    
      &::before {
        content: '⚠️'; /* Иконка ошибки */
        margin-right: 5px; /* Отступ справа от иконки */
      }
    }
    

    .time-picker-wrapper {
      width: 232px;
      height: 52px;
      position: relative;
    }

    .time-picker-main {
      width: 232px;
      height: 52px;
      display: flex;
      align-items: center;
    }

    .time-picker-input {
      width: 232px;
      height: 52px;
    }

      .my-icon {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      .time-text {
        margin-top: 8px;
        text-align: center;
      }

      .time-list {
        position: relative;
        right: -70px;
        margin-top: 4px;
        padding: 0;
        list-style: none;
        border: 1px solid #ddd;
        border-radius: 4px;
        height: 180px;
        overflow-y: auto;
        width: 100%;
        width: 150px;
        background-color: #fff;
        -ms-overflow-style: none; /* для IE и старого Edge */
        scrollbar-width: none; /* для Firefox */
      }

      .time-list::-webkit-scrollbar {
        display: none; /* Для Chrome, Safari, Edge */
      }
      
      .time-option {
        padding: 8px;
        cursor: pointer;
        text-align: center;
      }
      
      .time-option:hover {
        background-color: #f0f0f0;
      }

  .submit-button {
    margin-top: 24px;
    display: block;
    width: 472px;
    height: 52px;
    padding: 10px;
    background-color: #0957C3;
    color: #fff;
    border: none;
    border-radius: 200px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .submit-button:hover, .submit-button:focus {
      background-color: rgba(9, 87, 195, 0.2);
      color: #fff; 
     }

.close-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  z-index: 1000; /* Забезпечує, що кнопка буде поверх контенту */
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #0957C3;
}

.nanny-info {
  display: flex;
  flex-direction: row;
  gap: 14px;
  min-width: 192px;
  height: 44px;
  border: none;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 15px; 
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px; 
}


.info-name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-span {
  font-size: 12px;
  font-weight: 400;
  color: #8A8A89;
}

.info-name {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}