.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  max-height: 90vh; /* Максимальна висота модального вікна */
  border-radius: 20px;
  padding: 60px 40px;
  background-color: white;
  outline: none;
  overflow: hidden; /* Забороняє прокручування модального вікна */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden; /* Забороняє прокручування */
}

.modal-content-inner {
  position: relative;
  width: 530px;
  padding-right: 16px;
  max-height: 80vh; /* Забезпечити, що є місце для прокрутки */
  overflow-y: auto; 
}


.modal-window {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}


/* Стилізація полоски прокрутки */
.modal-content-inner::-webkit-scrollbar {
  max-width: 8px; /* Ширина полоски прокрутки */
  max-height: 100px;
  background: transparent; /* Фон для області прокрутки */
}

.modal-content-inner::-webkit-scrollbar-thumb {
  background-color: #D9D9D9; /* Колір полоски прокрутки */
  border-radius: 7px; /* Скруглення кути полоски прокрутки */
}

.modal-content-inner::-webkit-scrollbar-thumb:hover {
  background-color: #c0c0c0; /* Колір полоски прокрутки при наведенні */
}

.modal-content-inner::-webkit-scrollbar-button {
  display: none; /* Приховати кнопки прокрутки (верхню та нижню стрілки) */
}

.modal-content-inner::-webkit-scrollbar-track {
  margin-top: 100px; /* Відступи між треком і краями контейнера */
  margin-bottom: 100px;
}

.booking-form-container {
  position: relative;
  width: 472px;
  display: flex;
  flex-direction: column;
  // gap: 24px;

  .booking-header {
    font-size: 40px;
    font-weight: 500;
    color: #101828;
    margin-bottom: 8px;
  }

  p {
    font-size: 16px;
    color: #475467;
  }
}

.booking-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 24px;
  padding-bottom: 24px;

  .form-group-block-small {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 52px;
   }

  .form-group-small {
    background-color: #F7F7F7;
    border-radius: 10px;
    width: 232px;
    height: 52px;
   }

  .form-group {
    background-color: #F7F7F7;
    border-radius: 10px;
    width: 400px;
    height: 52px;

    input,
    textarea {
      width: calc(100% - 30px); /* Зменшити ширину для уникнення прокрутки */
      border: none;
      border-radius: 10px;
      padding: 15px;
      background-color: #F7F7F7;
      box-sizing: border-box; /* Враховувати padding у width */
      
      placeholder {
        font-weight: bold;
      }
    }

    textarea {
      width: 400px;
      height: 114px;
      resize: none;
    }

    input:focus,
    textarea:focus {
      outline: none;
      border: none;
      resize: none;
    }

    .error {
      margin-top: 5px;
      color: red;
      font-size: 12px;
    }

    .date-picker-wrapper {
      position: relative;
      display: flex;
      align-items: center;

      .my-icon {
        display: inline-block;
        fill: none;
        stroke: black;
        stroke-width: 1px;
        height: 24px;
        width: 24px;
        position: absolute;
        right: 10px;
        cursor: pointer;
      }

      .date-picker {
        width: 100%;
        padding-right: 40px; /* Додатковий простір для іконки */
        box-sizing: border-box; /* Враховувати padding у width */
      }
    }
  }

  .submit-button {
    margin-top: 58px;
    display: block;
    width: 472px;
    height: 52px;
    padding: 10px;
    background-color: #0957C3;
    color: #fff;
    border: none;
    border-radius: 200px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, :focus {
      background-color: rgba(9, 87, 195, 0.2);
      color: #fff; 
     }

  }
}

.close-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  z-index: 1000; /* Забезпечує, що кнопка буде поверх контенту */
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
  color: #0957C3;
}