.info-services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 16px;
  }
  .wrapper-services {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #F2F4F7;
    border-radius: 100px;
  }
  .my-icon {
    display: inline-block;
    fill: none;
    stroke: black;
    stroke-width: 1px;
    max-height: 24px;
  }
  
  .my-icon-unique {
    fill: black;
  }
  
  .vehicle-details {
    width: 430px;
    height: 286px;

    .vehicle-details-header{
      font-size: 20px;
      font-weight: 600;
      border-bottom: 2px solid #D9D9D9;
      margin-top: 24px;
      padding-bottom: 12px;
      margin-bottom: 24px;
    }
     ul {
       width: 430px;
       height: 214px;
       display: flex;
       flex-direction: column;
       gap: 14px;
       font-size: 18px;
       font-weight: 400;
     }
    
    .vehicle-item {
      display: flex;
      justify-content: space-between;
    }
  }