.container {
  max-width: 1376px;
  border: none;
  border-radius: 30px;
  max-height: 736px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.title-container {
  width: 688px;
  height: 736px;
  border-radius: 30px 0 0 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0957C3;
}

.title {
  width: 517px;
  font-size: 69px;
  font-weight: 500;
  color: white;
  margin-bottom: 28px;
}

.subtitle {
  width: 517px;
  font-weight: 400;
  font-size: 28px;
  color: white;
  margin-bottom: 64px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 18px;
  max-width: 230px;
  height: 60px;
  padding: 18px 50px;
  border: solid 1px #FBFBFB;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.text {
  color: #F2F4F7;
  font-size: 18px;
  font-weight: 500;
}

.icon {
  color: white;
  transform: rotate(45deg); /* Стрелка по умолчанию вертикальная */
  transition: transform 0.3s ease; /* Анимация при наведении */
}

.btn:hover .icon {
  transform: rotate(0); /* Стрелка становится горизонтальной */
}

.image-container {
  width: 688px;
  height: 736px;
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.info-box {
  position: relative; /* Чтобы блок располагался поверх всей страницы */
  bottom: 170px;    /* Отступ от нижнего края */
  left:350px;     /* Отступ от правого края */
  width: 284px;
  height: 118px;
  background-color: white;
  border-radius: 20px;
  padding: 32px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Для гарантии, что блок поверх всех элементов */
}

.info-amount {
  width: 220px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}


.info-icon {
  width: 54px;
  height: 54px;
  background-color: #0957C3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
}
.info {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.info-text {
  font-size: 16px;
  font-weight: 500;
  color:#475467;
}

.info-number {
  font-size: 24px;
  font-weight: 500;
  color:#000;
}
