
.item {
  width: 1184px;
  min-height: 318px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: none;
  background-color: #FBFBFB;
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 10px;
  margin: 0 auto;
  gap: 24px;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 2px solid rgba(240, 63, 59, 0.2);
  border-radius: 30px; 
}

.image {
  display: block;
  width: 96px;
  height: 96px;
  border-radius: 15px; 
}

.circle {
  position: absolute;
  top: 10px; /* Смещение от верхнего края фото */
  right: 10px; /* Смещение от левого края фото */
  width: 10px; /* Диаметр кружочка */
  height: 10px;
  background-color: #38CD3E; /* Цвет и прозрачность */
  border-radius: 50%; /* Делает кружочек круглым */
  border: 2px solid #FBFBFB; /* Добавляет обводку */
}

.main-wrapper {
  width: 992px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header-wrapper {
  width: 992px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.info-name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-span {
  font-size: 16px;
  font-weight: 500;
  color: #8A8A89;
}

.info-name {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.wrapper-info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 600;
  padding-right: 10px;
}

.wrapper-info-header:not(:nth-last-child(-n+2)) {
  border-right: 1px solid rgba(17, 16, 28, 0.2); /* Вертикальная линия */
}

span {
  color: #38CD3E;
}

.favourites-btn {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.info-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 16px;
}
.wrapper-services {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  background-color: #F3F3F3;
  border-radius: 24px;
}
.name-field {
  color: #8A8A89;
  font-size: 16px;
  text-decoration: none;
}

.info-unique {
  text-decoration: underline;
}

.info-description {
  display: -webkit-box;           /* Для підтримки flexbox-стилів у Webkit */
  -webkit-line-clamp: 1;          /* Кількість рядків, які будуть показані */
  -webkit-box-orient: vertical;   /* Вертикальна орієнтація box */
  overflow: hidden;               /* Приховати текст, що виходить за межі блоку */
  text-overflow: ellipsis;        /* Додати "..." в кінці тексту */
  white-space: normal;
  color: #8A8A89;
  font-size: 16px;    
  font-weight: 500;        /* Дозволити перенос рядків */
  height: 40px;   
}

.btn {
  display: block;
  width: auto; 
  height: auto;
  background-color: transparent;
  color: #000;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  margin: 0; 
  line-height: 1;
  text-align: start;
}

.btn:hover, .btn:focus{
  color: #38CD3E;
}

.btn-booking {
  width: 215px;
  height: 48x;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  font: inherit;
  color: #FBFBFB; 
  background-color: #0957C3;
  padding: 14px 28px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-booking:hover, .btn-booking:focus {
  background-color: rgba(9, 87, 195, 0.2);
  color: #fff; 
}