.wrapper {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #FBFBFB;
  }

  .icon {
    display: inline-block;
    fill: #0957C3;
  }
  
  .username {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }

  .btn {
    width: 134px;
    height: 48px;
    display: block;
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(251, 251, 251, 0.4);
    padding: 14px 40px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease, border 0.3s ease;
  }
  
  .btn:hover, .btn:focus {
    background-color: rgba(251, 251, 251, 0.4);
    border: none;
  }